@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700');

body {
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
}

main {
    border-radius: 3px;
    margin:1rem;
    padding: 1.5rem;
}

h1 {
    color: #4f6d7a;
}

.navusers a {
    font-size: 1em;
    text-transform: uppercase;
}

.navusers a:hover {
    font-weight: 500;
}