#place
    display: grid
    grid-template-columns: 70% 30%
    grid-column-gap: 20px
    width: 90vw
    margin: 0 auto

    .place
        &-events
            section
                width: 100%
                margin: 20px 0

        &-comments

        &-title
            font-weight: 800 
            word-wrap: break-word 
            font-size: 24px 
            line-height: 30px 
            margin: 20px 0

    .place-resume
        height: 400px
        // background-color: yellow
        position: sticky
        top: 70px

        h1
            text-align: center
            font-weight: 800 
            font-size: 24px 
            line-height: 30px 
            margin-bottom: 20px

        ul
            margin-top: 20px
            

        