@import src/styles/vars
.comment
    margin: 15px 0
    &-author
        font-weight: 600 
        word-wrap: break-word 
        font-size: 16px 
        line-height: 22px
    &-author, &-date 
        font-size: 14px
.connection
    font-weight: 600
    color: $secondary
    cursor: pointer
    &:hover
        color: $primary
.comment-submit
    background-color: $primary
    color: $white
    box-shadow: none
    height: 32px
    font-size: 13px
    padding: 7px 16px
    &:hover
        background-color: $secondary
