// FONTS
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800')
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700')
@import url('https://fonts.googleapis.com/css?family=Roboto')
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah')
$titlefont: 'Montserrat', sans-serif

// COLORS
$noir10: #E6E6E6
$noir75: #404040
$noir80: #333333
$primary:  #812528
$secondary:  #bd501a
$black: black
$white: white
$background: #f2f2f2
$textBackground: rgba(0, 0, 0,0.5)
$error: red

// ELEMENTS
$demo-banner-height: 36px
$demo-banner-max: 1024px

// Ratio
$ratio3_2: 66.666666%
$ratio4_3: 75%
$ratio3_4: 133.333333%
$ratio16_9: 56.25%
$ratio21_9: 42.857142%

@mixin tile
    border-radius: 5px
    box-shadow: 0 0 .5em 0
    background-position: center
    background-size: cover
    width: 100%
